language: julia
os:
  - osx
  - linux
julia:
  - release
  - 0.4
  - 0.3
  - nightly
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.build("LowRankModels"); Pkg.test("LowRankModels"; coverage=true)';
